@charset "utf-8";
@import './_config/_mixin.css';
@import './_config/_fonts.css';
@import './_config/_media.css';
@import './_config/_reset.css';

a {
  color: currentColor;
  text-decoration: none;
}

.fit {
  width: 100%;
  height: 100%;
  @mixin objectfit;

  &--contain {
    @mixin objectfit contain;
  }
}
